{% extends 'base.html.twig' %}

{% block title %}Redirected page{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

    body {
        background-color: #eee;
        font-family: 'Roboto', sans-serif
    }

    .card {
        background-color: #B9F6CA;
        width: 350px;
        border-radius: 20px
    }

    .heading {
        font-weight: 700
    }

    .hour {
        margin-top: 1px;
        color: green;
        font-size: 12px
    }

    .ratings i {
        color: #388E3C
    }

    .btn {
        border-radius: 15px !important
    }

    .line-color {
        color: green;
        height: 3px
    }
</style>

{#<div class="example-wrapper container">#}
{#<h1>Welcome {{app.user.username}} to redirected page</h1>#}
{#    <div class="mb-3">#}
{#        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}" class="btn btn-danger" style="float: right">Logout</a>#}
{#    </div>#}
{#</div>#}
    <div class="container mt-5 d-flex justify-content-center">
        <div class="card p-4 mt-3">
            <div class="first">
                <h6 class="heading">Profile of</h6>
                <div class="time d-flex flex-row align-items-center justify-content-between mt-3">

                    <div> <span class="font-weight-bold"></span> </div>
                </div>
            </div>
            <div class="second d-flex flex-row mt-2">
                <div class="image mr-3"> <img src="{{ app.user.image }}" class="rounded-circle" width="60" /> </div>
                <div class="">
                    <div class="d-flex flex-row mb-1"> <span>{{ app.user.username }}</span></div>
                    <div class="d-flex flex-row mb-1"> <span>{{ app.user.age}} years</span></div>
                    <div class="d-flex flex-row mb-1">{{ app.user.roles[0]}} <span></span></div>

                </div>
            </div>
            <hr class="line-color">

            <div class="third mt-4"> <button class="btn btn-danger btn-block"><i class="fa fa-clock-o"></i><a href="{{ path('app_logout') }}" class="btn btn-danger">Logout</a></button>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
