{% extends 'base.html.twig' %}

{% block title %}Redirected page{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper container">
        <h1>THIS IS YOUR INTENDED PATH</h1>
    </div>
{% endblock %}
