{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 30px;">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}

    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div class="form-group">
    <label for="inputEmail">Email</label>

    <input type="email" value="{{ last_username }}" name="email" id="email" autocomplete="off" class="form-control" required autofocus>
    </div>
    <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>




     <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me" id="rememberMe"> Remember me
            </label>
        </div>


    <button class="btn btn-lg btn-primary" type="submit" style="margin-top: 20px;" id="login">
        Sign in
    </button>
</form>
    </div>


{% endblock %}
